@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dashboard</h2>

<div class="card">
    <a class="btn" href="/Quiz/Create">Create Quiz</a><br /><br />
    <a class="btn" href="/Quiz/QuizList">Give Exam</a><br /><br />
    <a class="btn" href="/Quiz/Result">Results</a>
</div>