@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <h2>Create Quiz</h2>

    <input name="topicName" placeholder="Enter Topic Name" required /><br /><br />

    <input type="file" name="file" required /><br /><br />

    <button type="submit">Upload Quiz</button>
</form>